@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gray-300: var(--gray-300);
  --color-black-90: var(--black-90);

  --color-white: var(--white);
  --color-white-foreground: var(--white-foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-green: var(--primary-green);
  --color-primary-green-hover: var(--primary-green-hover);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.98 0 0); 
  --foreground: oklch(0.145 0 0); 

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --primary: #dc2626;            
  --primary-hover: #b91c1c;      
  --primary-foreground: #ffffff;

  --primary-green: #16a34a;
  --primary-green-hover: #15803d;

  --gray-300: #d1d5db; 

  --white: #fdfdfd;
  --white-foreground: #111111;

  --black-90: rgba(0, 0, 0, 0.9);

  --border: oklch(0.9 0 0);
  --ring: oklch(0.7 0.1 145);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.18 0 0);
  --card-foreground: oklch(0.98 0 0);

  --primary: #ef4444;           
  --primary-hover: #dc2626;     
  --primary-foreground: #ffffff;

  --white: #1a1a1a;
  --white-foreground: #f9f9f9;

  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.6 0.15 145);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


.bg-primary-green {
  background-color: var(--primary-green);
}
.hover\:bg-primary-green-hover:hover {
  background-color: var(--primary-green-hover);
}


